@font-face {
  font-family: "vodan";
  src: url(../../fonts/Vodan_Demo.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Regular.ttf);
}

.contenedor-portada {
  background: url(../../assets/img/Fondos/Vegetable-Wallpaper-About-Murals.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portada-titulo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.643);
  backdrop-filter: blur(10px);
}

.titulo {
  font-family: "vodan";
  font-weight: 700;
}
