/* Compra.css */
.Lista::-webkit-scrollbar,
.Card::-webkit-scrollbar {
  width: 5px;
}

.Lista::-webkit-scrollbar-track,
.Card::-webkit-scrollbar-track {
  background: transparent;
}

.Lista::-webkit-scrollbar-thumb,
.Card::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}

.Lista::-webkit-scrollbar-thumb:hover,
.Card::-webkit-scrollbar-thumb:hover {
  background: darkgreen;
}

.Lista,
.Card {
  scrollbar-width: thin;
  scrollbar-color: green transparent;
}