.contadores {
  background: url(../../assets/img/Fondos/magicpattern-mesh-gradient-1709133849215.png);
}

.contadores > div {
  margin: 0 auto;
  gap: 4em 2em;
  color: #fff;
}

.contador:not(:last-child)::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 2px;
  height: 5em;
  top: 20%;
  right: -4em;
}
