@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Regular.ttf);
  color: #88d488aa;
}

.lista-compras.hidden,
.lista-fav.hidden,
.bi-x-lg.hidden {
  display: none;
}

.lista-compras::-webkit-scrollbar {
  width: 5px;
}

.btn-cart:hover {
  outline: 1px solid grey;
}